<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="{{ path('homepage') }}"">Blog</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{{ path('homepage') }}">Accueil <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('article_index') }}">Articles</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('article_new') }}">Créer un article</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('author_index') }}">Auteurs</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{{ path('author_new') }}">Ajouter un auteur</a>
			</li>
		</ul>
	</div>
</nav>