div.container{
	margin-top: 20px;
}

div.ad-title-sym{
	padding: 2em;
	background-size: cover;
	background-position: center center;
}

div.ad-title-sym h1,
div.ad-title-sym p{
	color: white;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

/* SLIDER */
div.carousel-caption{
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}