<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <title>Blog - {% block title %}{% endblock %}</title>
</head>
<body>
{% include "partials/header.html.twig" %}


<div class="container">
    <div class="row">
        <div class="col-12">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>


{% include "partials/footer.html.twig" %}

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

{% block javascripts %}
{% endblock %}
</body>
</html>