{% extends "base.html.twig" %}

{% block body %}

	<h1 class="my-3">Nos derniers articles</h1>
	<p>Nous avons {{ total }} article(s) en base.</p>

	<div class="row">
		{% for article in articles %}
			<div class="col-md-4">
				<div class="card bg-light mb-3">
					<div class="card-header text-center">
						{{ article.title }}
					</div>

					<img src="{{ article.coverImage }}" alt="Image de l'article" style="height: 200px; width: 100%; display: block">

					<div class="card-body">
						<h4 class="card-title"><small>Par</small> {{ article.author.name | upper }} {{ article.author.firstname | capitalize }}</h4>
						<p class="card-text">
							{{ article.content | slice(0, 200) | raw }}
						</p>
						<div class="text-center">
							<a href="{{ path("article_show", {"slug" : article.slug}) }}" class="btn btn-secondary">En savoir plus</a>
						</div>
					</div>

				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}