{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% form_theme form "article/_collection.html.twig"   %}

{% block body %}
    {#<h1>Edit Article</h1>#}

    <h1>Modifier l'article</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Modifier l'article</button>

    {{ form_end(form) }}

{#{{ include('article/_form.html.twig', {'button_label': 'Update'}) }}#}

    <a href="{{ path('article_show', {'slug' : article.slug}) }}">Retour sur l'article</a>
{% endblock %}

{% block javascripts %}
    <script src="/js/article.js"></script>
{% endblock %}