{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1 class="my-3">
        Voici nos articles !
    </h1>

    <div class="row">
        {% for article in articles %}
            {% set url = path("article_show", { slug : article.slug }) %}
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        {{ article.title }}
                    </div>

                    <a href="{{ url }}">
                        <img src="{{ article.coverImage }}" alt="Image de l'article" style="height: 200px; width: 100%; display: block">
                    </a>

                    <div class="card-body">
                        <h4 class="card-title"><small>Par </small> {{ article.author.name | upper }} {{ article.author.firstname |capitalize }}</h4>
                        <p class="card-text">
                            {{ article.content | slice(0, 100) | raw }} ...
                        </p>
                        <div class="text-center">
                            <a href="{{ url }}" class="btn btn-secondary">En savoir plus</a>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>

    <div class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item {% if page == 1  %}disabled{% endif %}">
                <a class="page-link" href="{{ path("article_index", {"page" : page - 1 }) }}">&laquo;</a>
            </li>
            {% for i in 1..pages %}
                <li class="page-item {% if page == i %}active{% endif %}">
                    <a class="page-link" href="{{ path("article_index", {"page" : i }) }}">{{ i }}</a>
                </li>
            {% endfor %}
            <li class="page-item {% if page == pages  %}disabled{% endif %}">
                <a class="page-link" href="{{ path("article_index", {"page" : page + 1 }) }}">&raquo;</a>
            </li>
        </ul>
    </div>
{% endblock %}
