{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% form_theme form "article/_collection.html.twig"   %}

{% block body %}
    <h1>Créer un nouvel article</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Créer le nouvel article</button>

    {{ form_end(form) }}

    <a href="{{ path('article_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    <script src="/js/article.js"></script>
{% endblock %}