{% extends 'base.html.twig' %}

{% block title %}Article - {{ article.title }}{% endblock %}

{% block body %}
    <div class="ad-title-sym py-5" style="background-image: url({{ article.coverImage }})">
        <div class="container py-5">
            <h1>{{ article.title }}</h1>
        </div>
    </div>

    <div class="container my-3">
        <div class="row">
            <div class="col-md-8 mb-3">
                {{ article.content | raw }}

                <div class="carousel slide" data-ride="carousel" id="carouselExampleIndicators">
                    <ol class="carousel-indicators">
                        {% for image in article.images %}
                            <li class="{% if loop.first %}active{% endif %}" data-slide-to="{{ loop.index0 }}" data-target="#carouselExampleIndicators"></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for image in article.images %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <img alt="..." class="d-block w-100" src="{{ image.url }}">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>{{ article.title }}</h5>
                                    <p>{{ image.caption }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleIndicators" role="button">
                        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" data-slide="next" href="#carouselExampleIndicators" role="button">
                        <span aria-hidden="true" class="carousel-control-next-icon"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            
            <div class="col-md-4">
                <h2><small>Par</small> {{ article.author.name | upper }} {{ article.author.firstname |capitalize }}</h2>
                <h3>Pour modifier cet article suivre ce lien : </h3>
                <a href="{{ path("article_edit", { 'slug' : article.slug}) }}" class="btn btn-secondary">Modifier l'article</a>
            </div>
        </div>
    </div>
{% endblock %}


